<h1>Login</h1>
<form action="" method="post" role="form">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="usr">Username</label>
        <input class="form-control" type="text" name="name" placeholder="Username" id="usr"/>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="pwd">Password</label>
        <input class="form-control" type="password" name="password" id="pwd"/>
      </div>
    </div>
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary btn-block">Login</button>
    </div>
  </div>
</form>