<nav>
  <a href="/">
      Index
  </a>
    &middot;
<% if (@user == nil) %>
  <a href="/login">
    Log in
  </a>
<% else %>
  <a href="/logout">
    Log out
  </a>
  &middot;
  <a href="/transfer">
    Transfer
  </a>
  &middot;
  <span>Saldo: &euro; <%= number_with_precision(@user.saldo, :precision => 2) %></span>
<% end %>
</nav>