<h1>Overzicht</h1>
<% if @user == nil %>
<p>Log in om uw overzicht te zien</p>
<% else %>
<h3>Stortingen</h3>
<ul class="list-group">
  <% @user.deposits.each do |d| %>
  <li class="list-group-item">
    <span class="badge">&euro; <%= number_with_precision(d.amount, :precision => 2) %></span>
    <%= d.created_at %> IBAN: <%= d.iban %>
  </li>
  <% end %>
</ul>
<h3>Inkomende Transacties</h3>
<ul class="list-group">
  <% @user.inbound_transactions.each do |t| %>
  <li class="list-group-item">
    <span class="badge">&euro; <%= number_with_precision(t.amount, :precision => 2) %></span>
    <%= t.created_at %> van <%= t.sender.name %>
  </li>
  <% end %>
</ul>
<h3>Uitgaande Transacties</h3>
<ul class="list-group">
  <% @user.outbound_transactions.each do |t| %>
  <li class="list-group-item">
    <span class="badge">&euro; <%= number_with_precision(t.amount, :precision => 2) %></span>
    <%= t.created_at %> naar <%= t.recipient.name %>
  </li>
  <% end %>
</ul>
<% end %>