<h1>Transfer</h1>
<% if defined?(@error) %>
<p><%= @error %></p>
<% end %>
<form action="" method="post" role="form">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="amt">Amount</label>
        <input class="form-control" type="text" name="amt" id="amt"/>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="usr">Destination</label>
        <select class="form-control" name="recipient" id="usr">
        <% User.all.each do |u| %>
          <% if u.id != @user.id %>
          <option value="<%= u.id.to_s %>"><%= u.name %></option>
          <% end %>
        <% end %>
        </select>
      </div>
    </div>
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary btn-block">Transfer</button>
    </div>
  </div>
</form>
<% content_for(:js) do %>
<%= javascript_include_tag "mask" %>
<script type="text/javascript">
  $(function(){
    $('#amt').mask('#0.00', {reverse: true});
  });
</script>
<% end %>