<!DOCTYPE html>
<html>
<%= render "shared/head" %>
<body>
  <%= render "shared/nav" %>
  <section>
    <%= yield %>
  </section>
  <%= javascript_include_tag "application" %>
  <%= yield(:js) %>
</body>
</html>
